.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}

.card-modal {
    border-radius: 5px 5px 0 0;
    height: 400px;
    width: 100%;
    max-width: 300px;
    min-width: 280px;
}

.container-info-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.width-btn-confirm {
    width: 100% !important;
}

.border-collectionS\+, .border-collectionS, .border-collectionA, .border-collectionSS {
    display: grid;
    position: relative;
    place-content: center;
    min-width: 285px;
    box-sizing: border-box;
    color: white;
    text-shadow: 
    -.7px -.7px 0 #000,  
     .7px -.7px 0 #000,
    -.7px  .7px 0 #000,
     .7px  .7px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );
    
    border: solid 5px transparent;
    border-radius: 5px;
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    background-size: cover; 
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

.border-collectionS\+ {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        #f03  0%, 
        rgb(247, 0, 255)  10%, 
        yellow 20%, 
        #f03  30%, 
        rgb(247, 0, 255)  40%, 
        yellow 50%, 
        #f03  60%, 
        rgb(247, 0, 255) 70%, 
        yellow 80%, 
        #f03  90%, 
        #f03  100%
    ); 
    animation: bg-spin 3s linear infinite;
}

.border-collectionS {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        rgb(143, 0, 148) 0%,  
        rgb(143, 0, 148) 10%, 
        rgb(230, 230, 230) 20%,
        rgb(143, 0, 148) 30%, 
        rgb(143, 0, 148) 40%, 
        rgb(230, 230, 230) 50%,
        rgb(143, 0, 148) 60%, 
        rgb(143, 0, 148) 70%, 
        rgb(230, 230, 230) 80%,
        rgb(230, 230, 230) 90%,
        rgb(143, 0, 148) 100%
    );
    
    animation: bg-spin 6s linear infinite;
}

.border-collectionSS {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        white  0%, 
        yellow  10%, 
        yellow  15%,
        rgb(255, 255, 0) 20%, 
        white  30%, 
        yellow 40%, 
        yellow  45%,
        rgb(255, 255, 0) 50%, 
        white  60%, 
        yellow 70%, 
        yellow  75%,
        rgb(255, 255, 0) 80%, 
        white  100%
    ); 
    animation: bg-spin 3s linear infinite;
}

.border-collectionA {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        rgb(108, 154, 255) 0%,  
        rgb(0, 17, 255) 30%, 
        rgb(117, 161, 255) 100%
    );
    
    animation: bg-spin 5s linear infinite;
}

.border-collectionB {
    box-sizing: border-box;
    border: 4px solid gray;
}

.span-card-name {
    border-radius: 0 0 5px 5px;
    padding: 6px;
    box-sizing: border-box;
    margin-top: -4px;
}

.name-sell-span {
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.bg-cardSS {
    background-color: yellow;
}
.bg-cardS\+ {
    background-color: #FD393A;
}
.bg-cardS {
    background-color: #c74cdf;
}
.bg-cardA {
    background-color: #01A4FF;
}

.bg-cardB {
    background-color: gray;
} 

.cnt-btns-modal-market {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cnt-btns-modal-market > button {
    width: 0% !important;
    flex: 1;
}

.input-btn-market {
    width: 100% !important;
    border: 2px rgba(255, 255, 255, 0.877) solid;
    border-radius: 5px;
    background-color: rgb(31, 55, 116);
    padding: 10px !important;
    box-sizing: border-box;
    color: white;
}

.inactive-btn-market {
    filter: grayscale(100%) !important;
    cursor: not-allowed;
    transform: scale(1) !important;
}