.filter {
    width: 100%;
    background-color: #0e2e85;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    border: 3px solid rgba(0, 0, 0, 0.486);
}

.title-select-anime{
    font-size: 1.3rem;
}

.select-anime {
    font-family: "Jaro", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 1.2rem;
    background-color: #01A4FF;
    color: white;
    text-align: center;
    display: flex;
    border: none;
}

.select-anime:hover {
    cursor: pointer;
}

.select-option:checked {
    cursor: pointer !important;
}

.select-anime option:checked {
    background-color: #002442 !important;
    color: white;
}

.clear-filter{
    font-family: "Jaro", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    padding: 2px 15px;
    font-size: 1.2rem;
    background-color: #FEAA2A;
    color: white;
    transition: ease all .3s;
    border:none;
}

.clear-filter:hover{
    background-color: #ffc979;
    cursor: pointer;
}