.Summoning {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center; 
    background-image: url('../../../../assets/anime-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    box-sizing: border-box;
    z-index: 1000;
    padding: 1rem;
    overflow: auto;
    position: relative;
    align-items: center;
    margin-top: -4rem;
}

@media (max-height: 1300px) {
    .Summoning {
        align-items: normal;
        margin-top: 0rem;
    }
}

@media (max-width: 1300px) {
    .Summoning {
        align-items: normal;
        margin-top: 0rem;
    }
}

@media (max-width: 500px) {
    .container-cards-summon {
        justify-content: center !important;
    }
    .container-buttons-summon {
        justify-content: center !important;
    }
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.979);
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.container-summons {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    gap: 2rem;
    flex-direction: column;
}

.container-cards-summon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    gap: 2rem;
}

.justifyS {
    justify-content: space-between;
}

.justifyC {
    justify-content: center;
}

.justifyE {
    justify-content: end;
}

.back-front {
    position: relative;
    width: 210px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card-summon {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
}

.inactive-card {
    transform: rotateY(0deg);
}

.active-card {
    transform: rotateY(180deg);
}

.card-summoned {
    background-color: aliceblue;
    color: black;
    border: 4px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 1rem;
}

.card-not-showed {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: ease all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rarity-span {
    font-size: 5rem;
}

.back-front {
    transition: ease all .3s;
}

.inactive-back-front {
    filter: blur(0px);
}

.back-front:hover {
    transform: scale(1.4);
    z-index: 9;
    box-sizing: border-box;
}
.back-front:hover .power-card{
    right: -1px;
}
.back-front:hover .power-card{
    top: -1px;
}

.card-not-showed-ss {
    background-color: #f1ec00;
    filter: drop-shadow(0px 0px 15px #f1ec00);
}

.card-not-showed-s-plus {
    background-color: rgba(255, 0, 0, 0.979);
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
}

.card-not-showed-s {
    background-color: rgb(0, 102, 255);
    filter: drop-shadow(0px 0px 5px rgb(0, 102, 255));
}

.card-not-showed-a {
    background-color: rgb(174, 0, 255);
    filter: drop-shadow(0px 0px 1px rgb(174, 0, 255));
}

.card-not-showed-b {
    filter: drop-shadow(0px 0px 1px rgb(53, 53, 53));
}

.logo-summon-card {
    width: 150px;
    transition: transform .5s ease;
}

@keyframes spinCard {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.back-front:hover .logo-summon-card {
    animation: spinCard 5s linear infinite;
}

.back-front:hover {
    cursor: pointer;
}

.background-border {
    width: 210px;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    border: 4px solid #0000;
}

.border-rarity-s-plus {
    background: 
        linear-gradient(black, #222) padding-box,
        linear-gradient(to bottom,red,orange,rgb(255, 251, 0),red,orange,rgb(255, 251, 0),red) border-box;
}

.border-rarity-ss {
    background: 
        linear-gradient(black, #222) padding-box,
        linear-gradient(to bottom,yellow,white,rgb(255, 251, 0),yellow,white,rgb(255, 251, 0),yellow) border-box;
}

.border-rarity-s {
    background: 
        linear-gradient(black, #222) padding-box,
        linear-gradient(to bottom, #00a4ff, #0026ff, #00a4ff) border-box;
}

.border-rarity-b {
    background: 
        linear-gradient(black, #222) padding-box,
        linear-gradient(to bottom,gray,gray) border-box;
}


.btn-exit {
    background-color: rgb(2, 0, 90);
    border: none;
    padding: 5px 0;
    width: 210px;    
    border-radius: 5px;
    font-size: 2rem;
    color: white;
    border: 2px solid #0084ff;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0.3em #0084ff, 0 0.6em rgba(0, 0, 0, 0.527);
    cursor: pointer;
    text-align: center;
}

.btn-exit:hover {
    background-color:rgb(20, 18, 189); 
    color: white;
    width: 210px;    
    border: 2px solid #7bbfff;
    box-shadow: 0 0.3em #7bbfff, 0 0.6em rgba(0, 0, 0, 0.527);
}

.btn-skip {
    background-color: #080c1d;
    width: 210px;
    padding: 15px 30px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    border: #FEAA2A solid 2px;
    background-color: #002277;
    font-size: 2rem;
    gap: .3rem;
    top: 0;
    transition: all 300ms ease-in-out;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    color: #FEAA2A;
}

.btn-skip:hover {
    background-color: #0d37a8;
    border: #FFAA2A solid 2px;
    transform: scale(1.05);
}

.container-buttons-summon {
    display: flex;
    width: 100%;
}

@keyframes shadowPulse {
    0%, 100% {
        box-shadow: 
            0px 0px 20px rgba(253, 84, 84, 0.5), /* Added vertical offset and reduced opacity */
            0px 0px 30px rgba(253, 84, 84, 0.5), 
            0px 0px 40px rgba(253, 84, 84, 0.3);
    }
    50% {
        box-shadow: 
            0px 0px 35px rgba(253, 84, 84, 0.7), /* Increased vertical offset and opacity */
            0px 0px 45px rgba(253, 84, 84, 0.6), 
            0px 0px 55px rgba(253, 84, 84, 0.5);
    }
}

@keyframes shadowPulseSS {
    0%, 100% {
        box-shadow: 
            0px 0px 20px rgba(255, 255, 0, 0.5), /* yellow color in RGBA */
            0px 0px 30px rgba(255, 255, 0, 0.5), 
            0px 0px 40px rgba(255, 255, 0, 0.3);
    }
    50% {
        box-shadow: 
            0px 0px 35px rgba(255, 255, 0, 0.7), /* Increased opacity */
            0px 0px 45px rgba(255, 255, 0, 0.6), 
            0px 0px 55px rgba(255, 255, 0, 0.5);
    }
}


.border-a, .border-rarity-a {
    width: 210px;
    height: 320px;
    position: absolute;
    box-sizing: border-box;
    z-index: -9;
    display: block;
    height: 100%;
    width: 100%;
    background: gray;
    border: 4px solid rgb(255, 255, 255);
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(249, 79, 255),
        rgb(249, 79, 255) 5%,
        rgb(249, 79, 255) 60%,
        rgb(249, 79, 255) 95%
    );
    
    border: solid 5px transparent;
    border-radius: 5px;
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    background-size: cover; 
}

.border-a {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        rgb(143, 0, 148) 0%,  
        rgb(143, 0, 148) 10%, 
        rgb(230, 230, 230) 20%,
        rgb(143, 0, 148) 30%, 
        rgb(143, 0, 148) 40%, 
        rgb(230, 230, 230) 50%,
        rgb(143, 0, 148) 60%, 
        rgb(143, 0, 148) 70%, 
        rgb(230, 230, 230) 80%,
        rgb(230, 230, 230) 90%,
        rgb(143, 0, 148) 100%
    );
    
    animation: bg-spin 6s linear infinite, shadowPulse-a 1.5s ease-in-out infinite !important;
}
.border-s, .border-rarity-s {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        rgb(108, 154, 255) 0%,  
        rgb(0, 17, 255) 30%, 
        rgb(117, 161, 255) 100%
    );
    
    animation: bg-spin 4s linear infinite;
}
.border-s-plus, .border-rarity-s-plus {
    width: 210px;
    height: 320px;
    position: absolute;
    box-sizing: border-box;
    z-index: -9;
    display: block;
    height: 100%;
    width: 100%;
    background: gray;
    border: 4px solid rgb(255, 255, 255);
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(216, 1, 1),
        rgb(216, 1, 1) 5%,
        rgb(216, 1, 1)60%,
        rgb(216, 1, 1) 95%
    );
    
    border: solid 5px transparent;
    border-radius: 5px;   
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    background-size: cover; 
}
.border-ss, .border-rarity-ss {
    width: 210px;
    height: 320px;
    position: absolute;
    box-sizing: border-box;
    z-index: -9;
    display: block;
    height: 100%;
    width: 100%;
    background: gray;
    border: 4px solid rgb(255, 255, 255);
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        yellow,
        yellow 5%,
        yellow 60%,
        yellow 95%
    );
    
    border: solid 5px transparent;
    border-radius: 5px;   
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    background-size: cover; 
}
.border-s-plus, .border-rarity-s-plus {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        #f03  0%, 
        rgb(247, 0, 255)  10%, 
        yellow 20%, 
        #f03  30%, 
        rgb(247, 0, 255)  40%, 
        yellow 50%, 
        #f03  60%, 
        rgb(247, 0, 255) 70%, 
        yellow 80%, 
        #f03  90%, 
        #f03  100%
    ); 
    animation: bg-spin 3s linear infinite, shadowPulse 1.5s ease-in-out infinite !important;
}

.border-ss, .border-rarity-ss {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        white  0%, 
        yellow  10%, 
        yellow  15%,
        rgb(255, 255, 0) 20%, 
        white  30%, 
        yellow 40%, 
        yellow  45%,
        rgb(255, 255, 0) 50%, 
        white  60%, 
        yellow 70%, 
        yellow  75%,
        rgb(255, 255, 0) 80%, 
        white  100%
    ); 
    animation: bg-spin 3s linear infinite, shadowPulseSS 1s ease-in-out infinite !important;
}

.border-rarity-a {
    --gradient-border: conic-gradient(
        from var(--border-angle),
        rgb(143, 0, 148) 0%,  
        rgb(143, 0, 148) 10%, 
        rgb(230, 230, 230) 20%,
        rgb(143, 0, 148) 30%, 
        rgb(143, 0, 148) 40%, 
        rgb(230, 230, 230) 50%,
        rgb(143, 0, 148) 60%, 
        rgb(143, 0, 148) 70%, 
        rgb(230, 230, 230) 80%,
        rgb(230, 230, 230) 90%,
        rgb(143, 0, 148) 100%
    );
    
    animation: bg-spin 3s linear infinite, shadowPulse-a 1.5s ease-in-out infinite !important;
}
.border-s, .border-rarity-s {
    width: 210px;
    height: 320px;
    position: absolute;
    box-sizing: border-box;
    z-index: -9;
    display: block;
    height: 100%;
    width: 100%;
    background: gray;
    border: 4px solid rgb(255, 255, 255);
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(0, 140, 255),
        rgb(0, 140, 255) 5%,
        rgb(0, 140, 255) 60%,
        rgb(0, 140, 255) 95%
    );
    
    border: solid 5px transparent;
    border-radius: 5px;   
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    background-size: cover;    
}
.border-b {
    width: 195px;
    height: 285px;
    position: absolute;
    box-sizing: border-box;
    z-index: -9;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: gray;
    border: 4px solid rgb(255, 255, 255);
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        gray,
        gray 5%,
        gray 60%,
        gray 95%
    );
    
    border: solid 5px transparent;
    border-radius: 5px;
    --gradient-border: conic-gradient(
        from var(--border-angle),
        rgb(58, 58, 58)  0%, 
        rgb(58, 58, 58)  20%, 
        rgb(58, 58, 58) 40%, 
        rgb(58, 58, 58)  60%, 
        rgb(58, 58, 58) 80%, 
        rgb(58, 58, 58) 100%
    );    
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    background-size: cover; 
}

@keyframes shadowPulse-a {
    0%, 100% {
        box-shadow: 
            0px 0px 5px rgba(199, 77, 223, 0.692), /* More subtle shadow */
            0px 0px 10px rgba(199, 77, 223, 0.623), 
            0px 0px 15px rgba(199, 77, 223, 0.548);
    }
    50% {
        box-shadow: 
            1px 0px 15px rgba(199, 77, 223, 0.589), /* Slightly more pronounced */
            2px 0px 15px rgba(199, 77, 223, 0.575), 
            3px 0px 25px rgba(199, 77, 223, 0.541);
    }
}

@keyframes shine {
    to {
        background-position: 400% center;
    }
}

.shadow {
    box-shadow: 
    0px 0px 20px #ffffff1f,
    0px 0px 30px #ffffff17,
    0px 0px 40px #ffffff62;
    transition: ease all .3s;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a2;
    z-index: -1;
}

.anima {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: ease all 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-anima {
    width: 450px;
    animation: logoFade 8s forwards ease, spinSummon 5s linear forwards;
    max-width: 450px;
}

@keyframes spinSummon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sss-anima {
	animation: fadeOutSSS 8s forwards;
}

.ss-anima {
	animation: fadeOutSS 8s forwards;
}

.s-anima {
    animation: fadeOutS 8s forwards;
}

.a-anima {
    animation: fadeOutA 8s forwards;
}

.b-anima {
    animation: fadeOutB 8s forwards;
}

@keyframes logoFade {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    40% {
        width: 0px;
    }
    60% {
        width: 0px;
        opacity: 0;
    }
    65% {
        width: 450px;
        opacity: 1;
    }
    75% {
        width: 450px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeOutSSS {
    0% {
        background-color: #051641;
        z-index: 1;
    }
    5% {
        background-color: #051641;
    }
    60% {
        background-color: #e2e2e2;

    }
    70% {
        background-color: #f1ec00;

    }
    75% {
        background-color: #f1ec00;
    }
    90% {
        background-color: #f1ec00;
        z-index: 1;
    }
    100% {
        background-color: #000000a2;
        z-index: -9999;
    }
}

@keyframes fadeOutSS {
    0% {
        background-color: #051641;
        z-index: 1;
    }
    5% {
        background-color: #051641;
    }
    60% {
        background-color: #e2e2e2;

    }
    70% {
        background-color: #ff0000;

    }
    75% {
        background-color: #ff0000;
    }
    90% {
        background-color: #ff0000;
        z-index: 1;
    }
    100% {
        background-color: #000000a2;
        z-index: -9999;
    }
}
@keyframes fadeOutS {
    0% {
        background-color: #051641;
        z-index: 1;
    }
    5% {
        background-color: #051641;
    }
    60% {
        background-color: #e2e2e2;

    }
    70% {
        background-color: rgb(199, 0, 199);

    }
    75% {
        background-color: rgb(199, 0, 199);
    }
    90% {
        background-color: rgb(199, 0, 199);
        z-index: 1;
    }
    100% {
        background-color: #000000a2;
        z-index: -9999;
    }
}
@keyframes fadeOutA {
    0% {
        background-color: #051641;
        z-index: 1;
    }
    5% {
        background-color: #051641;
    }
    60% {
        background-color: #e2e2e2;

    }
    70% {
        background-color: rgb(0, 110, 255);

    }
    75% {
        background-color: rgb(0, 110, 255);
    }
    90% {
        background-color: rgb(0, 110, 255);
        z-index: 1;
    }
    100% {
        background-color: #000000a2;
        z-index: -9999;
    }
}
@keyframes fadeOutB {
    0% {
        background-color: #051641;
        z-index: 1;
    }
    5% {
        background-color: #051641;
    }
    60% {
        background-color: #e2e2e2;

    }
    70% {
        background-color: gray;

    }
    75% {
        background-color: gray;
    }
    90% {
        background-color: gray;
        z-index: 1;
    }
    100% {
        background-color: #000000a2;
        z-index: -9999;
    }
}