.eye_game {
    max-height: 180px;
    width: 100%;
}
.eye_img_solution{
    width: 100%;
    height: auto;
    max-height: 360px;
}
.eye-center-game {
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 800px;
    width: 100%;
    background-color: rgb(1, 14, 49);
    max-height: 180px;
    min-height: 130px;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #f8f8f8;
    justify-content: center;
    align-items: center;
}

.eye-center-game-solution {
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 360px;
    background-color: rgb(1, 14, 49);
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #f8f8f8;
    justify-content: center;
    align-items: center;
}