.Header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #051641;
    position: fixed;
    top: 0;
    left: -100px;
    z-index: 1000;
    width: 100%;
    margin-left: 168.4px;
    box-sizing: border-box;
}

.container-name-gachas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-header {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -140px;
}

.vertical-nav {
    position: absolute;
    background-color: #051641;
    top: 70px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0px 10px 0;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    height: fit-content;
    max-height: calc(100vh - 115px);
    width: auto;
    box-sizing: border-box;
}


.item-nav-vertical {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 160px;
    gap: 1rem;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
}

.item-nav-vertical:hover {
    background-color: #ffffff33;
}
.gachas-container {
    position: absolute;
    right: 0;
    width: fit-content;
    padding: 2px 15px;
    font-size: 1.5rem;
    border-radius: 15px;
    border: solid 2px #fea92ab4;
    background-color: #ffffff10;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: ease all .1s;
    word-spacing: 5px;
    margin-right: 10px;
    gap: .5rem;
    font-size: 2rem;
    color: #FEAA2A;
}

.gachas-container:hover {
    background-color:#ffffff27;
}

.logo-summon {
    width: 30px;
}

.logo-menu {
    display: none;
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
    transition: ease all .2s;
    padding: 5px;
    border-radius: 5px;
}

.logo-menu:hover {
    transform: scale(1.1);
    background-color: #ffffff3d;
}

@media (min-width: 700px) {
    .logo-menu {
        display: none;
    }
    .vertical-nav {
        display: none;
    }
}

@media (max-width: 700px) {
    .gachas-container {
        position: relative;
        font-size: 1.4rem;
        padding: 5px 11px;
    }
    .container-header {
        justify-content: space-between;
    }
    .logo-summon {
        width: 25px;
    }
    .title-header {
        word-spacing: 0 !important;
    }
    .Header {
        left: 0;
        margin-left: 0px;
    }
    .container-header {
        margin-left: 0px;
        gap: .5rem;
    }
    .logo-menu {
        display: block;
    }
}

@media (max-width: 500px) {
    .gachas-container {
        position: relative;
        font-size: 1.1rem;
        padding: 5px 11px;
    }
    .logo-summon {
        width: 20px;
    }
    .title-header {
        font-size:3rem !important;
    }
    .vertical-nav {
        top: 60px !important;
    }
}
@media (max-width: 420px) {
    .title-header {
        font-size: 2rem !important;
        padding: 0px !important;
        letter-spacing: 0px !important;
    }
    .logo-menu {
        width: 25px;
    }
    .gachas-container {
        position: relative;
        font-size: 1rem;
        padding: 2px 8px;
    }
    .vertical-nav {
        top: 50px !important;
    }

}
@media (max-width: 360px) {
    .title-header {
        font-size: 1rem;
    }
}
@media (max-height: 550px) {
    .vertical-nav {
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}
.title-header {
    font-size: 4rem;
    padding: 0 10px;
    color: rgb(255, 170, 42);
    letter-spacing: 2px;
    margin-top: -5px;
}

.vertical-nav::-webkit-scrollbar {
    width: 7px;
    margin-left: 10px;
}

.vertical-nav::-webkit-scrollbar-track {
    background-color: #ffffffb9;
}

.vertical-nav::-webkit-scrollbar-thumb {
    background-color: #224080;
    border-radius: 4px;
}

.vertical-nav::-webkit-scrollbar-thumb:hover {
    background-color: #476cbd;
}