
.Main {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    padding-right: 35px;
    box-sizing: border-box;
    overflow: auto;
    max-height: calc(100vh - 70px);
    flex-direction: column;
    display: grid;
}

.section-main {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    background-size: 555px;
    height:fit-content;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #0E2E85;
    border: 4px solid rgba(0, 0, 0, 0.486);
    padding: 20px 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.subsection-main {
    flex: 1;
    background-color: blanchedalmond;
}

@media (max-width: 700px) {
    .Home {
        padding-left: 0px;
    }
    
    .Main {
        padding-right: 25px;
    }
}