.Home {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url('/home/sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 70px;
    z-index: 1000;
    margin-bottom: 20px;

}

@media (max-width: 1300px ) {
    .Home {
        padding-left: 70px;
    }
}
