.Home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #0e0e38;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.section {
    flex: 5;
    display: flex;
    justify-content: center;
    height: auto;
    overflow: auto;
    margin-top: 80px;
}