.img-pixel {
    width: auto;
    height: 100%;
    max-height: 380px;
}

.pixel-center-game {
    overflow: hidden;
    max-width: 800px;
    min-width: 220px;
    min-height: 360px;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: column;
    padding: .2rem;
    gap: 1rem;
    position: relative;
    justify-content: center;
    align-items: center;
}