.container-namegame {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.name-container-game {
    display: flex;
    gap: .2rem;
    font-size: 3rem;
    flex-direction: row;
}

.name-input-game {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 3rem;
}

.name-input-game {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010029;
    text-align: center;
    color: white;
flex: 1;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
}
 @media (max-width:800px) {
    .name-input-game {
        height: 50px;
        font-size: 2rem;
    }
}
@media (max-width:540px) {
    .name-input-game {
        height: 40px;
        font-size: 2rem;
    }
} 
@media (max-width:400px) {
    .name-input-game {
        height: 35px;
        font-size:1rem;
    }
} 
.active-row-input {
    background-color: #f3f3f3;
    color: black;
    border: 2px solid rgb(0, 6, 31);
}

.correct-letter {
    background-color: rgb(22, 182, 22);
}

.exist-letter {
    background-color: orange;
}

.incorrect-letter {
    background-color: red;
}

.name-input-game:focus {
    background-color: rgb(175, 226, 255);
}

.container-imagegame-colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: #14244C;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
}
.div-info-color{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}
@media (max-width:400px) {
    .div-info-color {
        font-size: .54rem;
    }
}
.color-orange {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 5px;
    border: 2px white solid;
}
.color-red {
    width: 30px;
    height: 30px;
    background-color: #FF3636;
    border-radius: 5px;
    border: 2px white solid;
}
.color-green {
    border: 2px white solid;
    width: 30px;
    height: 30px;
    background-color: #1AB616;
    border-radius: 5px;
}