.container-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    gap: .4rem;
}
  
.title {
    width: 100%;
    font-size: 6rem;
    margin: 0;
    color: rgb(255, 170, 42);
}
  
.naruto-up-img {
    position: absolute;
    width: 300px;
    left: -52.1%;
    top: 25%;
    transform: rotate(-90deg);
}
  
.goku-up-img {
    position: absolute;
    width: 150px;
    right: -25.8%;
    top: -2%;
    transform: rotate(90deg);
    filter: brightness(1.05);
}
  
/* FORM */
  
.container-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(31, 55, 116);
    border: white 2px solid;
    align-items: center;
    justify-content: center;
    padding: 2.7rem;
}
  
#title-form {
    font-size: 2.66rem;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -1.2rem;
}
  
.form-user {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}
  
.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.btn-toggle-password {
    position: absolute;
    cursor: pointer;
    width: 35px;
    right: 25px;
}
  
.span-input-focus{
    position: absolute;
    background-color: rgb(31, 55, 116);
    color: #eea538;
    padding: 0 15px;
    top: -12px;
    left: 20px;
}
  
input {
    width: 98%;
    font-size: 1.5rem;
    border: 2px rgba(255, 255, 255, 0.877) solid;
    border-radius: 5px;
    background-color: rgb(31, 55, 116);
    padding: 10px 30px;
    box-sizing: border-box;
    color: white;
}
  
input::placeholder {
    color: rgba(255, 255, 255, 0.788);
}
  
input:focus {
    border: 2px  #FEAA2A solid;
    outline: none;
}
  
.btn-form {
    width: 98%;
    text-align: center;
    font-size: 2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: ease all .2s;
    border: 2px solid white;
    color: white;
    background-color: #dd9822;
}
  
.btn-form:hover {
    background-color: white;
    color: #dd9822;
    border: 2px solid #dd9822;
}
  
.span-reg {
    font-size: 1.2rem;
    color: white;
}
  
.reg-btn {
    color: rgb(255, 170, 42);
    margin: 0 5px;
    cursor: pointer;
}
  
.reg-btn:hover {
    cursor: pointer;
}

.span-error-login {
    color: #ff3a3a;
    margin: -1rem 0;
    font-size: 1.3rem;
}

.container-spacer {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
  
.span-spacer {
    flex: 1;
    border: 1px rgb(255, 170, 42) solid;
}
  
.span-text-spacer {
    padding: 0 20px;
}
  

  
/* FONTS */
.font-titan {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.jaro-regular {
    font-family: "Jaro", sans-serif !important;
    font-optical-sizing: auto !important; 
    font-weight: 400 !important;
    font-style: normal !important;
}
  
/* MEDIA QUERYS */
  
@media (max-width: 980px) {
    .naruto-up-img {
      position: absolute;
      width: 200px;
      left: -35.1%;
      top: 25%;
      transform: rotate(-90deg);
    } 
}
  
@media (max-width: 980px) {
    .naruto-up-img {
      position: absolute;
      width: 200px;
      left: -35.1%;
      top: 25%;
      transform: rotate(-90deg);
    } 
}
  
@media (max-width: 740px) {
    .container-app {
      max-width: 350px;
    }
  
    .title {
      font-size: 4rem;
    }

    #title-form {
        font-size: 1.5rem;
    }

    .naruto-up-img {
      width: 150px;
      left: -37.7%;
      top: 35%;
    } 
    
    input {
        font-size: 1rem;
    }

    .goku-up-img {
        width: 100px;
        right: -25.5% !important;
        top: 5%;
        transform: rotate(90deg);
    }
    .btn-toggle-password {
        width: 20px;
        right: 20px;
    }

    .btn-form {
        font-size: 1.5rem;
    }
    .span-reg{
        font-size: 1rem;
    }
}

@media (max-width: 510px) {
    .goku-up-img {
        display: none;
    }

}

@media (max-width: 400px) {
    .container-app {
        max-width: 300px;
      }
    
    .title {
        font-size: 3rem;
    }

    #title-form {
        font-size: 1.2rem;
    }
    
    input {
        font-size: 1rem;
    }

    .btn-toggle-password {
        width: 18px;
        right: 18px;
    }

    .btn-form {
        font-size: 1.3rem;
    }
    .span-reg{
        font-size: 0.8rem;
    }
    .eslogan-title {
        font-size: 0.8rem;
    }
}