.App {
  position: relative;
  width: 100%;
  height: auto;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./background-gachanime.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #EFEFF1;
  font-weight: 600;
  box-sizing: border-box;
}

.container-app {
  width: 100%;
  height: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.container-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  width: 100%;
  font-size: 6rem;
  background-color: rgb(20 39 88);
  border-radius: 15px;
  color: white;
  border: white 2px solid;
  margin: 0;
}

.naruto-up-img {
  position: absolute;
  width: 300px;
  left: -52.1%;
  top: 25%;
  transform: rotate(-90deg);
}

.goku-up-img {
  position: absolute;
  width: 150px;
  right: -25.8%;
  top: 5%;
  transform: rotate(90deg);
  filter: brightness(1.05);
}

.container-form {
  position: relative;
  display: flex;
  width: 99.5%;
  height: 600px;
  border-radius: 15px;
  background-color: rgb(20 39 88);
  border: white 2px solid;
  min-height: 600px;
}

/* FONTS */
.font-titan {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jaro-regular {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
