.Games {
    height: fit-content;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    padding-right: 35px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.section-games {
    border: 4px solid rgba(0, 0, 0, 0.486);
    width: 100%;
    min-height: fit-content;
    box-sizing: border-box;
    background-color: #0E2E85;
    border-radius: 5px;
    display: flex;
    position: relative;
    min-height: 390px;
}

.nav-games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: #0E2E85;
    border: 4px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px 5px;
    gap: 1rem;
    box-sizing: border-box;
    padding: 5px;
    min-height: 50px;
}

.link-game{
    text-align: center;
    width: 100%;
    background-color: #0051ff;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    transition: ease all .2s;
    border: 2px solid rgb(238, 238, 238);
    box-sizing: border-box;
    display: flex;
    gap: 3px;
}

.link-game:hover{
    background-color: #00a6ff;
    color: white;
    border: 2px solid rgb(238, 238, 238);
}

@media (max-width: 700px) {
    .Games {
        padding-right: 25px;
    }
}

@media (max-width: 500px) {
    .span-link-anime-game {
        display: none;
    }
    .nav-games {
        gap: .5rem;
    }
    .container-btns-modes {
        gap: .5rem !important;
    }
    .container-btns-modes > button{
        font-size: 1.1rem !important;
    }
}

.active-game {
    background-color: white;
    color: #0051FF;
    border: 2px solid #0051FF;
}
.active-game > svg{
    color: #0051FF;
}
.active-game:hover {
    background-color: white;
    color: #0051FF;
    border: 2px solid #0051FF;
}

.not-disponible {
    text-align: center;
    width: 100%;
    background-color: #2414b9;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    transition: ease all .2s;
    border: 2px solid rgb(238, 238, 238);
    box-sizing: border-box;
    display: flex;
    gap: 3px;
    filter: grayscale(100%);
    cursor: not-allowed;
}

.container-btns-modes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: #0E2E85;
    border: 4px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px 5px;
    gap: 1rem;
    box-sizing: border-box;
    padding: 5px;
    min-height: 50px;
}

.container-btns-modes > button{
    flex: 1;
    outline-style: none;
    border-style: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .3rem;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: #0051ff;
    color: white;
    font-size: 1.4rem;
    transition: ease all .3s;
    cursor: pointer;
}

.container-btns-modes > button:hover{
    background-color: #00a6ff;
}

.active-mode {
    background-color: white !important;
    color: #0051FF !important;
    border: 2px solid #0051FF !important;
}

.difficulty-span {
    display: none;
}

@media (max-width: 700px) {
    .difficulty-span {
        display: none;
    }
    
}

.section-games-modes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .3rem;
    position: relative;
}

.blocked-mode {
    position: absolute;
    background-color: hsl(225deg 58% 12% / 93%);
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity ease .3s, z-index ease .3s;
}

.hidden {
    opacity: 0;
    z-index: -9999;
}

.container-unblock-mode {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: .3rem;
}

.btn-unblock {
    width: fit-content;
    flex: none !important;
    padding: 5px 25px !important;
    border: 2px solid #1c8c05;
    background-color: #1c8c05 !important;
    border: 2px solid white !important;
    font-size: 1.9rem !important;
}

.title-unlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cnt-button-unlock-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -65px !important;
    gap: .5rem;
}

.icon-summon-anya {
    position: absolute;
    top: -98px;
    left: 40px;
    z-index: 9999;
    transition: top 0.2s ease;
}

.cnt-button-unlock-modal:hover .icon-summon-anya {
    top: -96px;
}

.btn-unblock:hover {
    background-color: white !important;
    color: #1c8c05 !important;
    border: 2px solid #1c8c05 !important;
}

.blocked {
    filter: grayscale(100%);
    cursor: not-allowed !important;
}

.blocked:hover {
    top: 0em !important;
    color: white !important;
    background-color: #1c8c05 !important;
    border: 2px solid #ffffff !important;
}